body {
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
tr{
  border-bottom: 1px solid #dddddd;
}
tr:nth-child(even) { 
  background-color: #eeeeee; 
} 
.theader {
  font-weight: bold;
}